@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 228 8% 12%;
    --card: 0 0% 100%;
    --card-foreground: 228 8% 12%;
    --primary: 226 88% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 20% 96%;
    --secondary-foreground: 228 8% 12%;
    --muted: 240 20% 96%;
    --muted-foreground: 240 14% 58%;
    --accent: 240 20% 96%;
    --accent-foreground: 228 8% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 20% 94%;
    --input: 240 20% 94%;
    --ring: 226 88% 66%;
    --radius: 0.5rem;
    --sidebar-bg: 228 8% 12%;
    --sidebar-foreground: 0 0% 100%;
  }

  .dark {
    --background: 228 8% 8%;
    --foreground: 0 0% 95%;
    --card: 228 8% 12%;
    --card-foreground: 0 0% 95%;
    --primary: 226 88% 66%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 8% 16%;
    --secondary-foreground: 0 0% 95%;
    --muted: 228 8% 16%;
    --muted-foreground: 240 14% 58%;
    --accent: 228 8% 16%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 95%;
    --border: 228 8% 20%;
    --input: 228 8% 20%;
    --ring: 226 88% 66%;
    --sidebar-bg: 228 8% 8%;
    --sidebar-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .prose h2,
  .prose h3 {
    scroll-margin-top: 5rem;
  }
}
